name: Terraform CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment:
          - stage-1/example
          - stage-2

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::864899853524:role/GitHubTerraformRole
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform init

      - name: Terraform Format Check
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform fmt -check

      - name: Terraform Validate
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform validate

      - name: Terraform Plan
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform plan -no-color

