name: Terraform Plan

on:
  pull_request:
    branches:
      - main

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init -backend=false
        working-directory: terraform/envs/stage-1/example

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform/envs/stage-1/example

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform/envs/stage-1/example

