name: Terraform CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment:
          - stage-1/example
          - stage-2

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform init -backend=false

      - name: Terraform Format Check
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform fmt -check

      - name: Terraform Validate
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform validate

      - name: Terraform Plan
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform plan -no-color

