name: Terraform CI/CD

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment:
          - stage-1/example
          - stage-2

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::864899853524:role/GitHubTerraformRole
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform init

      - name: Terraform Validate
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform validate

      - name: Terraform Plan
        run: |
          cd terraform/envs/${{ matrix.environment }}
          terraform plan -no-color


  apply:
    needs: plan
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::864899853524:role/GitHubTerraformRole
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform/envs/stage-2
          terraform init

      - name: Terraform Apply
        run: |
          cd terraform/envs/stage-2
          terraform apply -auto-approve

